/* ModalCita.css */
.modal {
    position: relative; /* Asegúrate de que sea relative o absolute para controlar el z-index */
    z-index: 9999; /* Z-index alto para que esté encima de otros elementos */
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000; /* Z-index más alto para el overlay */
  }
  